body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color:coral;
    justify-content: space-between;
    position: fixed;
    color:white;
    padding: 10px;
    height: 30px;
    align-items: center;
    z-index: 999;
}
.title{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: bold;
    transition: 0.5s;
}
.title:hover{
    font-size:25px;
    transition: 0.3s;
}
nav a{
    padding: 30px 25px 14px;
    text-decoration: none;
    color:white;
    font-size: 17px;
    transition: 0.3s;
}
nav a:hover{
    background-color:lemonchiffon;
    transition:0.6s;
    color:black;
    font-size: 20px;
}
section.home{
    background:url("homecustom2 (1).jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 100px;
}
section.about{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("BG LANTERN.jpg");
    height: 700px;
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
}
section.product{
    background: url("zingkong-pica.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1300px;
}
section.contacts{
    height: 700px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    background-attachment: fixed;
}
footer{
    height: 50px;
    background-color: rgb(48, 51, 54);
}
section.home div{
    text-align: center;
    color: black;
    margin: auto;
    width: 70%;
    padding: 70px;
}
section.home .hello{
    font-size: 40px;
    text-shadow: 5px 5px 20px black;
    color: rgba(255, 255, 255, 0.959);
    font-family: "Silkscreen", sans-serif;
    animation: movt2 3.5s;
}
section.home a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.about div{
    color: white;
    text-align:center;
    margin:auto;
    width:70%;
}
section.about img{
    height: 200px;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    object-fit: contain;
    flex-shrink: 0;
}


section.product{
    background: url("zingkong-pica.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1300px;
    align-items: center;
}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    box-shadow: 3px;
}
section.product .container .card{
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    width:150px;
    height: 500px;
    margin:2px;
    border-radius: 20px;
    border: 7px solid black;
    justify-items: center;
    flex-basis: 30%;
    padding-left:3px;
    padding-right: 3px;
}
section.product .container .card img{
    width:75%;
}
section.product .container .card a{
    color:black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    cursor: pointer;
    transition:0.2s;
}
section.product .container .card a:hover{
    background-color: lightgray;
    transition:0.3s;
}
section.contacts{
    background-color: black;
    height: 600px;
}
section.contacts .card1 img{
    width:200px;
}
.card:hover{
    scale: 100%;
    transition: 0.6s;
    animation:goyang 0.5s;
}
.card:not(:hover){
    scale: 70%;
    transition:0.5s;
}
.subcon{
    font-size: 20px;
}
section.home .homeabt{
    font-size:20px;
    color:white;
    text-shadow: 5px 5px 20px black;
    width:500px;
    border: 3px solid white;
    border-radius:30px;
    border-style:dashed;
    border-spacing:10px 5px;
    padding:10px 15px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color:white;
    font-size: 20px;
    padding:5px 20px;
}
@keyframes goyang{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.conimg{
    padding:15px 20px;
    border: 5px 10px white;
}
.desc{
    width:500px;
    text-align:center;
    align-content: center;
    padding: 10px 10px;
    margin:auto;
    font-size: 17px;
}
@keyframes movt{
    0%{
        transform:translate(0px);
    }
    25%{
        transform: translate(200px);
    }
    50%{
        transform:translate(0px);
    }
    75%{
        transform:translate(-200px);
    }
    100%{
        transform:translate(0px)
    }
}
@keyframes movt2{
    0%{
        transform:translateY(-200px)
    }
}
section.product .somet{
    font-size: 40px;
    height:55px;
    width:3500px;
    text-align: center;
    background-color: black;
    color:white;
    justify-content: center;
    border:5px solid rgb(255, 88, 27);
    animation:visit 9s infinite;
    font-family: "Silkscreen", sans-serif;
}
@keyframes visit{
    0%{
        transform:translate(-2000px)
    }
    100%{
        transform:translate(-100px);
    }
}
section.home .seep{
    font-family: "Silkscreen", sans-serif;   
}


section.contacts .card1{
    margin:auto;
    color:white;
    text-align: center;
    padding-top: 100px;
    width:400px;
    overflow: hidden;
}
.card1{
    position:relative;
    width:300px;
    height:200px;
    overflow: hidden;
    transition:0.5s;
}
.card1 .conimg{
    position:absolute;
    width:100%;
}
.card1 .conimg img{
    width:100%;
    transition:0.5s;
}
.card1:hover .conimg img{
    scale:1.2s;
    transition:0.5s;
    filter:opacity(20%)
}
.card1 .subcon{
    position:absolute;
    top:400px;
    width:200px;
    padding-left:120px;
    transition:0.5s;
}
.card1:hover .subcon{
    top:113px;
    transition:0.5s;
}
